# --- MC-Manager ROOT configuration ------------------------------------------------------
# Parent directory where all Minecraft servers are stored.
#
# If left empty or omitted, the default location will be:
#   Windows: C:\Users\<user>\MCServers
#   Linux:   /home/<user>/MCServers
#   MacOS:   /Users/<user>/MCServers
#
# Examples:
# MC_SERVER_HOME=C:\MinecraftServers            (Windows)
# MC_SERVER_HOME=/srv/minecraft                 (Linux)
# MC_SERVER_HOME=/Users/Shared/MinecraftServers (MacOS)
#
# !!! NOTE: Keep HOST_MC_SERVER_HOME empty if you are not using Docker. !!!
#
MC_SERVER_HOME="C:\MCServers"
# ----------------------------------------------------------------------------------------


# --- MC-Manager ROOT configuration (if using Docker) ------------------------------------
# Parent directory where all Minecraft servers are stored.
#
# MC_SERVER_HOME will be fed by the Compose as '/mcservers'.
#
# HOST_MC_SERVER_HOME is the physical path on the host machine,
# where the servers will be stored.
#
# Examples:
# HOST_MC_SERVER_HOME=C:\MinecraftServers            (Windows)
# HOST_MC_SERVER_HOME=/srv/minecraft                 (Linux)
# HOST_MC_SERVER_HOME=/Users/Shared/MinecraftServers (MacOS)
#
# HOST_MC_SERVER_HOME ---(mounted on)---> MC_SERVER_HOME inside container at /mcservers
#
# !!! NOTE: Keep HOST_MC_SERVER_HOME empty if you are not using Docker. !!!
#
HOST_MC_SERVER_HOME="C:\MCServers"
# ----------------------------------------------------------------------------------------

# SignUp allows new members to generate Minecraft Servers physically on your drive
#
# !!! NOTE: Provide this key to trusted individuals only. !!!
#
SECRET_PIN=123456