# --- MC-Manager ROOT configuration ---------------------------
# Parent directory where all Minecraft servers are stored.
#
# If left empty or omitted, the default location will be:
#   Windows: C:\Users\<user>\MCServers
#   Linux:   /home/<user>/MCServers
#
# Examples:
# MC_SERVER_HOME=C:\MinecraftServers
# MC_SERVER_HOME=/srv/minecraft

MC_SERVER_HOME=
# -------------------------------------------------------------

