{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MC-Manager{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core_APP/style.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <footer>
        <div>
            <p>
                Created by
                <a href="https://www.linkedin.com/in/krishiv1545/" target="_blank" rel="noopener noreferrer">
                    Krishiv Khambhayata
                </a>
                &nbsp;|&nbsp;
                <a href="https://github.com/krishiv1545" target="_blank" rel="noopener noreferrer">
                    My GitHub
                </a>
                &nbsp;|&nbsp;
                <a href="https://github.com/krishiv1545/MC-Manager" target="_blank" rel="noopener noreferrer">
                    MC-Manager Source Code
                </a>
            </p>
        </div>

        <div>
            <p>
                Please give my project a <span class="star"></span><span class="star">★</span> on GitHub if you like it :D
            </p>
        </div>
    </footer>
</body>
</html>
